*{

    color:red
}
div{
    margin-left:40px;
}
p{
    font-size:30px;
}
/* to use id # is used */
#p2{
    font-family:"Courier"
}
#ps{
    margin-left:20px;
}
.osmpara{
    background-color:#008800
/* dot is used to select classes */
}
.bogpara{
    font-size:50px
}